<div class="container text-center">
  <div class="row">

    <!--PROJETO 1-->
    <div class="col-4">
      <div class="card style-card">
        <img src="../../assets/photo/photo-lista-compra.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Organize suas compras de supermercado de forma simples e eficiente! Cadastre produtos com nome, valor e quantidade para ver o total da lista automaticamente.</p>

          <a href="https://lista-cantina.netlify.app/" target="_blank">
            <button style="margin-right: 10px;" type="button" class="btn btn-primary">Acessar</button>
          </a>
          <a href="https://github.com/heliovictor98/app-lista-de-compras" target="_blank">
            <button type="button" class="btn btn-dark">
              Github
            </button>
          </a>
        </div>
      </div>
     </div>

     <!--PROJETO 2-->
    <div class="col-4">
      <div class="card style-card">
        <img src="../../assets/photo/photo-lista-compra.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Organize suas compras de supermercado de forma simples e eficiente! Cadastre produtos com nome, valor e quantidade para ver o total da lista automaticamente.</p>

          <a href="https://lista-cantina.netlify.app/" target="_blank">
            <button style="margin-right: 10px;" type="button" class="btn btn-primary">Acessar</button>
          </a>
          <a href="https://github.com/heliovictor98/app-lista-de-compras" target="_blank">
            <button type="button" class="btn btn-dark">
              Github
            </button>
          </a>
        </div>
      </div>
     </div>

     <!--PROJETO 2-->
    <div class="col-4">
      <div class="card style-card">
        <img src="../../assets/photo/photo-lista-compra.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Organize suas compras de supermercado de forma simples e eficiente! Cadastre produtos com nome, valor e quantidade para ver o total da lista automaticamente.</p>

          <a href="https://lista-cantina.netlify.app/" target="_blank">
            <button style="margin-right: 10px;" type="button" class="btn btn-primary">Acessar</button>
          </a>
          <a href="https://github.com/heliovictor98/app-lista-de-compras" target="_blank">
            <button type="button" class="btn btn-dark">
              Github
            </button>
          </a>
        </div>
      </div>
     </div>
  </div>
</div>


