 <!--PROJETO 1-->
<mat-grid-list cols="2" rowHeight="2:2">
  <mat-grid-tile>
    <mat-card class="style-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Lista de Compras</mat-card-title>
          <mat-card-subtitle>Organize suas compras de supermercado com facilidade! Cadastre seus produtos, insira nome, valor e quantidade, e veja automaticamente o total da sua lista. Simples e eficiente para otimizar suas compras e manter o controle dos gastos.</mat-card-subtitle>
          <img mat-card-sm-image src="../../assets/photo/icone-lista-compra.png" >
        </mat-card-title-group>
      </mat-card-header>
      <br>
      <mat-card-content>
        <button style="margin-right: 10px;" mat-flat-button color="primary">Acessar</button>
        <a href="https://github.com/heliovictor98/app-lista-de-compras" target="_blank">
          <button mat-flat-button style="background-color: black; color: white;">
            Github
          </button>
        </a>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--PROJETO 2-->
  <mat-grid-tile>
    <mat-card class="style-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Lista de Compras</mat-card-title>
          <mat-card-subtitle>Organize suas compras de supermercado com facilidade! Cadastre seus produtos, insira nome, valor e quantidade, e veja automaticamente o total da sua lista. Simples e eficiente para otimizar suas compras e manter o controle dos gastos.</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
      </mat-card-header>
      <br>
      <mat-card-content>
        <button style="margin-right: 10px;" mat-flat-button color="primary">Basic</button>
        <button mat-flat-button color="primary">Basic</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

