
<!--ACORDEÃO-->

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Chocolate Password
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <img style="width: 30%;" src="../../assets/photo/password.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Proteja suas contas com facilidade! Gere senhas seguras automaticamente para manter seus dados seguros.</p>

          <div class="aling-btn">
            <a target="_blank">
              <button disabled style="margin-right: 10px;" type="button" class="btn btn-primary">Acessar</button>
            </a>
            <a href="https://github.com/heliovictor98/-chocolatepassword" target="_blank">
              <button type="button" class="btn btn-dark">
                Github
              </button>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Lista de Compras
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <img style="width: 30%;" src="../../assets/photo/photo-lista-compra.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Organize suas compras de supermercado de forma simples e eficiente! Cadastre produtos com nome, valor e quantidade para ver o total da lista automaticamente.</p>

          <a href="https://lista-cantina.netlify.app/" target="_blank">
            <button style="margin-right: 10px;" type="button" class="btn btn-primary">Acessar</button>
          </a>
          <a href="https://github.com/heliovictor98/app-lista-de-compras" target="_blank">
            <button type="button" class="btn btn-dark">
              Github
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
